{% extends 'base.njk' %}

{% block head %}
    <title>Curso - Rocketseat</title>
{% endblock %}

{% block content %}

    <h1>{{id}}</h1>
    {# <div class="modal_content">
        <iframe src="" frameborder="0"></iframe>
    </div> #}

{% endblock %}