{% extends 'base.njk' %}


{% block head  %}
    <Title>Curso - RocketSeat</Title>
{% endblock %}

{% block content %}
    <div class="webview">
        <iframe src="https://www.rocketseat.com.br/{{id}}" frameborder="0"></iframe>
    </div>
{% endblock %}