{% extends 'base.njk' %}

{% block head %}
<title>Error 404 </title>
{% endblock %}

{% block content%}
    <div class="not_found">
        <h1>Oops | Página não encontrada | Error 404</h1>
    </div>
{% endblock %}